<div class="container all-jobs">
    <h1 class="text-center">All Jobs</h1>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <section class="user_menu center">
                <ul>
                   <li> <%= link_to 'Create New Job', new_job_path, class: "btn btn-success" %></li>
                   <li> <%= link_to 'Contact Support', new_contact_path, class: "btn btn-warning" %></li>
                   <li><%= link_to "Text Contractor", new_message_path, class: "btn btn-info" %></li>
                </ul>
                
            </section>
        </div>
        <div class="col-lg-10">
            <% @jobs.each do |job| %>
                <ul>
                    <li class="well">  
                        <div class="col-md-8">
                            <h4 class="job-title"><%= link_to job.job_title, job_path(job) %></h4>
                            <h4 class="job-address"><%= job.job_address %></h4>
                            <p>
                                <span class="quiet"><small><%= time_ago_in_words(job.created_at) %></small></span>
                            </p>
                            <span><%= job.job_state %> Job: <strong>Pending Review</strong></span> 
                        </div>
                        <div class="col-md-4">
                            <% if job.picture? %>
                            <%= image_tag(job.picture.url, size: "250x150", class: "img-responsive") if job.picture? %>
                            <% end %>
                        </div>
                    </li> 
                    <hr>
                </ul>
            <% end %>
        </div>
        
    </div>
</div>